body, #root {
  background-color: rgb(243, 236, 236);
}
#root{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.episodeContainer h2,
.episodeContainer img,
.episodeContainer p{
  padding: 30px;
}
.episodeContainer{
  background-color: white;
  border-radius: 15px;
  width: 400px;
  /*padding: 50px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.episodeContainer p{
  text-align: justify;
}
.episodeContainer h2{
  border: 2px solid black;
  border-radius: 15px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

/* for the search bar */
.topnav {
  overflow: hidden;
  background-color: #6b6b6b;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}