body, #root {
  background-color: rgb(243, 236, 236);
}
#root{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.episodeContainer h2,
.episodeContainer img,
.episodeContainer p{
  padding: 30px;
}
.episodeContainer{
  background-color: white;
  border-radius: 15px;
  width: 400px;
  /*padding: 50px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.episodeContainer p{
  text-align: justify;
}
.episodeContainer h2{
  border: 2px solid black;
  border-radius: 15px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.episodeContainer img {
  width: 100%;
  border-radius: 8px;
}

/* for the search bar */
.topnav, #sowsListingNav {
  display: flex;
  background-color: #6b6b6b;
  padding: 6px;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a, #sowsListingNav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p, #sowsListingNav p {
  text-align: center;
  margin: 0 15px;
  align-content: center;
}

/* Style the "active" element to highlight the current page */
.topnav a.active, #sowsListingNav a.active{
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text], #sowsListingNav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
}

/* Style the Dropdown inside the navigation bar */
.topnav select, #sowsListingNav select {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
}


#showsDropDown, #episodesDropDown, #inputSearch, #backToShowsListing, #numberOfEpiFound {
  display: none;
}

#backToShowsListing {
      padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
}

.showContainer{
  margin: 5px 10px;
}

.showContainer h2 {
  margin: 10px 15px;
}

.showContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showContent img, .showContent .showSummary, .showContent .showTable {
  margin: 5px;
  width: 30%;
}

.showContent .showTable {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}